<%- include("partials/header"); -%>

<h1> About Us </h1>

<h3>This website is build by Jagdeep for Demonstrate Purpuse only</h3>
<h5>This website is completely build on Nodejs BackEnd FrameWork and following modules : </h5>
<ul>
<li>Express </li>
<li>Body-Parser </li>
<li>EJS Templeting</li>
<li>Bootstrap</li>
<li>and some custom CSS Styling</li>
</ul>
<p></p>

<%- include("partials/footer"); -%>


